.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 275px;
    height: 100%;
    padding: 0;
}

.sidebar-header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 20px 20px 20px;
    z-index: 1000;
}

.sidebar-subheader {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    z-index: 1000;
}

.sidebar-content {
    position: relative;
    padding: 10px 20px 20px 20px;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    z-index: 900;
}

.message-history {
    height: 100px;
    overflow-y: scroll;
    padding: 10px;
}

.message-input {
}

.board {
    position: absolute;
    left: 295px;
    top: 20px;
    width: 800px;
    display: block;
}

a {
    margin-top: 5px;
}