{% load static %}
<div class="board teal lighten-5 z-depth-3" style="
        width: {{ display.width }}px;
        height: {{ display.height }}px;">
    {% for row in display.rows %}
        <div class="board-row" style="
                width: {{ row.width }}px;
                height: {{ row.height }}px;">
            {% for tile in row.tiles %}
                <div class="tile" style="
                        width: {{ tile.width }}px;
                        height: {{ row.height }}px;
                        left: {{ tile.offset }}px;
                        background: {{ tile.colour }};"
                    {% if event.active %}
                        onclick="clickBoard({{ tile.x }}, {{ tile.y }},
                            {{ event.properties.first_selection.0 }},
                            {{ event.properties.first_selection.1 }})"
                    {% endif %}>
                    {% for texture in tile.textures %}
                        <img class="piece waves-effect"
                                src="{% static 'games/img/' %}{{ texture.image }}"}
                            style="opacity: {{ texture.opacity }};
                                left: {{ texture.x }}%;
                                top: {{ texture.y }}%;
                                width: 100%;">
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>