{% load static %}
{% load mathfilters %}

<div class="board z-depth-3" style="
        width: {{ display.width }}px;
        height: {{ display.height|add:1 }}px;
        background: {{ display.background }};">

    {% for row in display.rows %}

        <div style="
                position: absolute;
                width: {{ display.width }}px;
                height: {{ row.height }}px;
                bottom: {{ row.voffset|add:1 }}px;">

            {% for tile in row.tiles %}

                <div {% if event.active %}
                        onclick="board({{ tile.x }}, {{ row.y }},
                            {{ event.properties.selection.x }},
                            {{ event.properties.selection.y }})"
                        {% endif %}>

                    {% if display.shape.hexagonal %}
                        <div style="
                                position: absolute;
                                width: 0;
                                left: {{ tile.hoffset }}px;
                                top: -{{ row.height|div:2|add:1 }}px;
                                border-bottom: {{ row.height|div:2|add:1 }}px solid {{ tile.colour }};
                                border-left: {{ tile.width|div:2 }}px solid transparent;
                                border-right: {{ tile.width|div:2 }}px solid transparent;">
                        </div>
                    {% endif %}

                    <div style="
                            position: absolute;
                            width: {{ tile.width }}px;
                            height: {{ row.height|add:2 }}px;
                            left: {{ tile.hoffset }}px;
                            background: {{ tile.colour }};">

                        {% for texture in tile.texture %}
                            <img src="{% static 'games/img/' %}{{ texture.image }}"} style="
                                position: absolute;
                                opacity: {{ texture.opacity }};
                                width: 100%;
                                z-index: 900;
                                {% if display.shape.hexagonal %}
                                    top: -{{ row.height|div:2 }}px;
                                {% endif %}">
                        {% endfor %}

                    </div>

                    {% if display.shape.hexagonal %}
                        <div style="
                                position: absolute;
                                width: 0;
                                left: {{ tile.hoffset }}px;
                                top: {{ row.height|add:2 }}px;
                                border-top: {{ row.height|div:2|add:1 }}px solid {{ tile.colour }};
                                border-left: {{ tile.width|div:2 }}px solid transparent;
                                border-right: {{ tile.width|div:2 }}px solid transparent;">
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

        </div>

    {% endfor %}

    {% for selector in display.selectors %}
        <div style="
                position: absolute;
                width: {{ selector.width }}px;
                height: {{ selector.height }}px;
                left: {{ selector.x }}px;
                bottom: {{ selector.y }}px;
                background: {{ selector.colour }};
                opacity: {{ selector.opacity }};
                z-index: 1000;
                border-radius: 15px;">

            {% for option in selector.options %}
                <div onclick="selector({{ option.id }},
                            {{ selector.target.x }},
                            {{ selector.target.y }})" style="
                        position: absolute;
                        width: {{selector.height }}px;
                        height: {{ selector.height }}px;
                        left: {{ selector.height|mul:option.id }}px;
                        background: {{ selector.colour }};
                        border-radius: 15px;
                        padding: 0px;">

                    {% for texture in option.textures %}
                        <img src="{% static 'games/img/' %}{{ texture.image }}"} style="
                                position: absolute;
                                opacity: {{ texture.opacity }};
                                left: {{ texture.x }}%;
                                width: 100%;">
                    {% endfor %}

                </div>
            {% endfor %}

        </div>
    {% endfor %}

</div>