{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'games/js/game.js' %}"></script>
<script type="text/javascript">
    const CODE = '{{ board.code }}';
</script>
{% endblock %}

{% block content %}
<div class="row teal lighten-4">
    <div class="col m9 push-m3">
        <br>
        <div id="board"></div>
    </div>
    <div class="col m3 pull-m9 teal sidebar">
        <div class="container">
            <br>
            <h6 class="large-text white-text">{{ board.game.name }}</h6>
            <a class="btn waves-effect" id="copy_code">{{ board.code }}</a>
            <br><br>
            <div id="sidebar"></div>
            <form action="" id="message-form" onsubmit="sendMessage(); return false;">
                {% csrf_token %}
                <div class="input-field" id="messages">
                    <input type="text" class="validate teal lighten-4 blue-grey-text text-darken-3"
                            id="message" style="width: 100%; height: 30px;">
                </div>
                <button type="submit" class="btn-floating waves-effect">
                    <i class="material-icons small white-text">send</i>
                </button>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}