{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'games/css/game.css' %}">
<script src="{% static 'games/js/game.js' %}"></script>
<script type="text/javascript">
    const CODE = '{{ board.code }}';
    const USER = '{{ user }}';
</script>
{% endblock %}

{% block content %}
<div id="board"></div>
<div class="teal sidebar z-depth-3">
    <div class="sidebar-header teal darken-1">
        <h6 class="large-text white-text">{{ board.game.NAME }}</h6>
        <a class="btn waves-effect" id="copy_code">{{ board.code }}</a>
    </div>
    <div class="sidebar-content">
        <div id="sidebar"></div>
    </div>
    <div class="sidebar-footer">
        <div class="row">
            <div class="col s6">
                <a class="block waves-effect btn-small" href="/games">
                    <i class="material-icons left">arrow_back</i>Menu
                </a>
            </div>
            <div class="col s6">
                <a class="block waves-effect btn-small" href="/games/create">
                    <i class="material-icons left">create</i>New
                </a>
            </div>
        </div>
        <div id="messages" class="teal lighten-3 message-history"></div>
        <input id="message" class="teal lighten-4 message-input" type="text">
    </div>
</div>
{% endblock %}