{% load static %}
<div class="teal sidebar">
    <div class="teal darken-1 sidebar-header">
        <h6 class="large-text white-text">{{ board.game.name }}</h6>
        <a class="btn waves-effect" id="copy_code">{{ board.code }}</a>
    </div>
    <div class="sidebar-content">
        {% for player in players %}
        {% if player.player == this_player %}
        <h6 class="medium-text yellow-text text-lighten-1">
        {% else %}
        <h6 class="medium-text white-text">
        {% endif %}
            {% if player.player.leader %}
            <i class="material-icons small left">person_add</i>
            {% else %}
            <i class="material-icons small left">person</i>
            {% endif %}
            {{ player.user }}
        </h6>
        <h6 class="small-text white-text">
            {% if player.state.score == 1 %}
            {{ player.state.score }} pt
            {% else %}
            {{ player.state.score }} pts
            {% endif %}
            &#x2022 {{ player.player.time|time:"i:s" }}
            {% if board.status == 1 and player.state.order == state.turn.current %}
            &#x2022 Playing
            {% endif %}
        </h6>
        {% if this_player and this_player.leader and board.status == 0 %}
        {% if not player.player == board.players.first %}
        <a class="btn-floating btn-small indigo lighten-2 waves-effect"
                onclick="promote('{{ player.user.id }}')">
            <i class="material-icons small white-text">keyboard_arrow_up</i>
        </a>
        {% endif %}
        {% if not player.player == board.players.last %}
        <a class="btn-floating btn-small indigo lighten-2 waves-effect"
                onclick="demote('{{ player.user.id }}')">
            <i class="material-icons small white-text">keyboard_arrow_down</i>
        </a>
        {% endif %}
        <a class="btn-floating btn-small red lighten-2 waves-effect"
                onclick="leave('{{ player.user.id }}')">
            <i class="material-icons small white-text">close</i>
        </a>
        {% if not player.player.leader %}
        <a class="btn-floating btn-small orange lighten-3 waves-effect"
                onclick="transfer('{{ player.user.id }}')">
            <i class="material-icons small white-text">star</i>
        </a>
        {% endif %}
        {% endif %}
        <hr>
        {% endfor %}
        {% if board.status == 0 %}
        <br>
        {% if this_player %}
        <a class="btn waves-effect block" onclick="leave('{{ user.id }}')">
            Leave Game
            <i class="material-icons small white-text right">close</i>
        </a>
        {% else %}
        <a class="btn waves-effect block" onclick="join('{{ user.id }}')">
            Join Game
            <i class="material-icons small white-text right">done</i>
        </a>
        {% endif %}
        <br><br>
        {% if this_player and this_player.leader %}
        <a class="btn waves-effect block red lighten-2" onclick="cancel()">
            Cancel Game
            <i class="material-icons small white-text right">close</i>
        </a>
        <br><br>
        <a class="btn btn-large green lighten-2 block waves-effect" onclick="start()">
            Start Game
            <i class="material-icons medium white-text right">play_arrow</i>
        </a>
        <br><br>
        {% else %}
        <h6 class="medium-text white-text">
            Waiting
            <i class="material-icons small white-text right">more_horiz</i>
        </h6>
        {% endif %}
        {% else %}
        <br>
        <div class="row">
            <div class="col s4">
                {% if previous %}
                <a class="block waves-effect waves-light btn-small"
                        onclick="setState({{ previous.id }})">
                    <i class="material-icons">skip_previous</i>
                </a>
                {% else %}
                <a class="block grey waves-effect waves-light btn-small">
                    <i class="material-icons">skip_previous</i>
                </a>
                {% endif %}
            </div>
            <div class="col s4">
                {% if next %}
                <a class="block waves-effect waves-light btn-small"
                        onclick="setState({{ next.id }})">
                    <i class="material-icons">skip_next</i>
                </a>
                {% else %}
                <a class="block grey waves-effect waves-light btn-small">
                    <i class="material-icons">skip_next</i>
                </a>
                {% endif %}
            </div>
            <div class="col s4">
                {% if next %}
                <a class="block waves-effect waves-light btn-small"
                        onclick="setState({{ current.id }})">
                    <i class="material-icons">last_page</i>
                </a>
                {% else %}
                <a class="block grey waves-effect waves-light btn-small">
                    <i class="material-icons">last_page</i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="sidebar-footer">
        <div class="row">
            <div class="col s6">
                <a class="block waves-effect waves-light btn-small" href="/games">
                    <i class="material-icons left">arrow_back</i>Menu
                </a>
            </div>
            <div class="col s6">
                <a class="block waves-effect waves-light btn-small" href="/games/create">
                    <i class="material-icons left">create</i>New
                </a>
            </div>
        </div>
        <div class="teal lighten-3 message-history" id="messages"></div>
        <input type="text" id="message" class="teal lighten-4 message-input">
    </div>
</div>