body {
    background-image: url("/static/base/img/pixel_weave.png");
}

.small-text {
    font-size: 16px;
}

.medium-text {
    font-size: 24px;
}

.large-text {
    font-size: 32px;
}

.huge-text {
    font-size: 48px;
}

.block {
    width: 100%;
}

h6 p a {
    font-family: Verdana, sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    spacing: 10px;
}

.small-form {
    width: 300px;
    margin: auto;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {
    height: auto;
}
@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}